<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://cdn.tailwindcss.com"></script>

    <link rel="stylesheet" href="/static/css/style.css" />

    <link
      rel="apple-touch-icon"
      sizes="180x180"
      href="/static/apple-touch-icon.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="32x32"
      href="/static/favicon-32x32.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="16x16"
      href="/static/favicon-16x16.png"
    />
    <link rel="manifest" href="/site.webmanifest" />
    <title>A Supposed cake shop</title>
  </head>
  <body class="bg-slate-200">
    <!-- Navbar -->
    <header class="py-3 border-b">
      <div class="container max-w-screen-xl mx-auto px-4">
        <div class="flex flex-wrap items-center">
          <div class="flex-shrink-0 mr-5">
            <a class="flex items-center justify-center"> FindYourThings </a>
          </div>

          <div
            class="flex flex-nowrap items-center w-full order-last md:order-none mt-5 md:mt-0 md:w-2/4 lg:w-2/4"
          >
            <input
              class="flex-grow appearance-none border border-gray-200 rounded-md mr-2 py-2 px-3 hover:border-gray-400 focus:outline-none focus:border-gray-400"
              type="text"
              placeholder="Search..
                "
            />
          </div>

          <div class="flex items-center space-x-2 ml-auto">
            <a
              class="px-3 py-2 inline-block text-center text-gray-700 bg-slate-50 shadow-sm border border-gray-200 rounded-md hover:bg-gray-100 hover:border-gray-300"
              href="/signin"
            >
              <span class="hidden lg:inline ml-1"> 👤 Sign in</span>
            </a>
            <a
              class="px-3 py-2 inline-block text-center text-gray-700 bg-slate-50 shadow-sm border border-gray-200 rounded-md hover:bg-gray-100 hover:border-gray-300"
              href="/addcake"
            >
              <span class="hidden lg:inline ml-1">🍰 Add Cake</span>
            </a>

            <a
              class="px-3 py-2 inline-block text-center text-gray-700 bg-slate-50 shadow-sm border border-gray-200 rounded-md hover:bg-gray-100 hover:border-gray-300"
            >
              <span class="hidden lg:inline ml-1">🛒 My cart</span>
            </a>
          </div>
        </div>
      </div>
    </header>
    <!-- Navbar close -->

    <!-- HeroSection -->
    <section class="px-3 py-5 lg:py-10">
      <div class="grid lg:grid-cols-2 items-center justify-items-center gap-5">
        <div
          class="order-2 lg:order-1 flex flex-col justify-center items-center"
        >
          <p class="text-4xl font-bold md:text-7xl text-orange-600">100% OFF</p>
          <p class="text-4xl font-bold md:text-7xl">WINTER SALE</p>
          <p class="mt-2 text-sm md:text-lg">For limited time only!</p>
          <button
            class="text-lg md:text-2xl bg-black text-white py-2 px-5 mt-10 hover:bg-zinc-800"
          >
            Shop Now
          </button>
        </div>
        <div class="order-1 lg:order-2">
          <img
            class="h-80 w-80 object-cover lg:w-[500px] lg:h-[500px] rounded-xl"
            src="https://source.unsplash.com/720x600/?cake"
            alt=""
          />
        </div>
      </div>
    </section>
    <!-- HeroSection close -->

    <!-- ecommerce cards -->

    <section class="text-gray-600 body-font">
      <div class="container px-5 py-24 mx-auto">
        <div class="flex flex-wrap -m-4">
          {% for cake in allCakes %}
          <div class="lg:w-1/4 md:w-1/2 p-4 w-full">
            <a class="block relative h-48 rounded overflow-hidden">
              <img
                alt="ecommerce"
                class="object-cover object-center w-full h-full block"
                src="{{cake.image}}"
              />
            </a>
            <div class="mt-4">
              <h3 class="text-gray-500 text-xs tracking-widest title-font mb-1">
                {{cake.category}}
              </h3>
              <h2 class="text-gray-900 title-font text-lg font-medium">
                {{cake.title}}
              </h2>
              <p class="mt-1">💲 {{cake.price}}.00</p>
            </div>
          </div>
          {% endfor %}
        </div>
      </div>
    </section>
    <!-- ecommerce cards close -->
  </body>
</html>
